body {
    background-color: white;
}

#alerts {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #eeeeee;
    color: black;
    font-family: Courier;
    font-size: calc(10px + 1.5vw);
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 3px;
    height: auto;
    min-height: 99%;
    width: 99%;
    border-color: #9B9B9B;
    border-width: 3px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    
}

.submenu {
    list-style: none;
    flex-direction: column-reverse;
}

#alerts > * {
    width: auto;
    padding: 5%;
    margin: 7px;
    border-color: #9B9B9B;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 5px 10px rgb(0 0 0 / 0.2);
}

#wrapper {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

p {
    color: black;
    z-index: 10;
    font-family: Courier;
    font-size: calc(25px + 1.5vw);
}

